@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gloria';
    src: url('/fonts/Gloria/Gloria-Regular.ttf') format('truetype');
    font-weight: 400;
    }
    